/* ---------- GLOBAL ---------- */
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background: radial-gradient(circle at top, #1a0030, #0c001a 70%);
    color: #cfc6d9;
    font-size: 42px;
}

/* ---------- LOGO ---------- */
.logo {
    font-size: 48px;
    text-align: center;
    margin-top: 30px;
    color: #4be4ff;
    text-shadow: 0 0 10px #4be4ff, 0 0 25px #4be4ff;
    font-weight: bold;
}

/* ---------- NAVBAR ---------- */
.navbar {
    width: 80%;
    margin: 20px auto;
    padding: 14px 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
}

.navbar span {
    text-decoration: none;
    font-size: 16px;
    color: #d5d5d5;
    transition: 0.3s;
}

.navbar span:hover {
    color: #4be4ff;
    text-shadow: 0 0 10px #4be4ff;
}

.navbar .active {
    color: #4be4ff;
    text-shadow: 0 0 10px #4be4ff, 0 0 20px #4be4ff;
}

/* ---------- TYPING BOX ---------- */
.typing-box {
    width: 88%;
    margin: 50px auto;
    padding: 40px;
    
    font-size: 42px;
    line-height: 1.5;
    
    border: 3px solid #4be4ff;
    border-radius: 30px;
    color: #cfc6d9;
    
    background: rgba(255, 255, 255, 0.02);
    box-shadow:
    0 0 15px #4be4ff,
    0 0 40px rgba(75, 228, 255, 0.3);
}

/* ---------- CARROT ---------- */
@keyframes blink {
      0%, 100% {
        opacity: 1; /* Fully visible */
      }
      50% {
        opacity: 0; /* Fully invisible */
      }
    }

.caret{
    display: inline-block;
    width: 2px;
    height: 1em;  
    background: aliceblue; 
    margin-left: 2px;
    animation: blink 1s infinite;
    font-size: 48px;

    /* animation: blink 1s timing-function delay iteration-count direction fill-mode; */
}

/*----------Wrong--------------*/
.correct ,.wrong{
    font-size: 42px;
    /* border: 1px solid black; */
    border-radius: 0.1lh;
    margin-left: 0.05ch;
    /* opacity:20% ; */
    /* opacity: 80%; */
    fill-opacity:20% ;
    border-bottom: 1px solid black;

}
.correct{
    color: black;
    background-color: #3cff83;
}
.wrong{
    /* color: black; */
    /* background-color:rgba(255, 0, 0, 0.2); */
    /* background-color: #ff4b4b; */
    background-color:  #e63946;
    /* background-color:  #ff4b4b; */
    /* background-color:rgba(255, 0, 0, 0.5); */
}

/* ---------- FOOTER ---------- */
.footer {
    text-align: center;
    margin: 40px 0;
    color: #c9bfd5;
    font-size: small;
}